<ion-header style="padding-left: 15px;">
  <ion-toolbar>
    <ion-title class="ion-padding-top ion-text-center">
      <img src="assets/img/logo.jpg" alt="" size="12">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-left: 15px;" (click)="navegarAMiClase()">
        Mi Clase
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-button style="margin-right: 15px;" (click)="cerrarSesion()">
        Cerrar Sesión
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de tu página de inicio -->
  
  

  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1 style="font-size: 24px; color: #050505;">Bienvenido</h1>
      <p *ngIf="usuario" style="font-size: 18px; color: #070707;">{{ usuario.nombre }} {{ usuario.apellido }}</p>
      <!-- Puedes agregar más contenido aquí si es necesario -->
    </ion-label>
  </ion-title>

  <!-- Comienza el Formulario -->

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round" style="padding-left: 25px; padding-right: 25px;">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  

  

</ion-content>

<ion-footer>
  <!-- Pie de página de tu página de inicio -->
</ion-footer>