// Ionic Variables and Theming. For more info, please see:


/** Ionic CSS Variables **/
:root {
  /* Primary Colors */
  --ion-color-primary: #ffff00; /* Amarillo */
  --ion-color-primary-rgb: 255, 255, 0;
  --ion-color-primary-contrast: #0000ff; /* Azul */
  --ion-color-primary-contrast-rgb: 0, 0, 255;
  --ion-color-primary-shade: #ffcc00; /* Amarillo oscuro */
  --ion-color-primary-tint: #ffea00; /* Amarillo claro */

  /* Secondary Colors */
  --ion-color-secondary: #0000ff; /* Azul */
  --ion-color-secondary-rgb: 0, 0, 255;
  --ion-color-secondary-contrast: #ffffff; /* Blanco */
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0000cc; /* Azul oscuro */
  --ion-color-secondary-tint: #0000ff; /* Azul claro */

  /* Tertiary Colors */
  --ion-color-tertiary: #ffffff; /* Blanco */
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #000000; /* Negro */
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #cccccc; /* Blanco oscuro */
  --ion-color-tertiary-tint: #e6e6e6; /* Blanco claro */

  /* Success Colors */
  --ion-color-success: #ffff00; /* Amarillo */
  --ion-color-success-rgb: 255, 255, 0;
  --ion-color-success-contrast: #0000ff; /* Azul */
  --ion-color-success-contrast-rgb: 0, 0, 255;
  --ion-color-success-shade: #ffcc00; /* Amarillo oscuro */
  --ion-color-success-tint: #ffea00; /* Amarillo claro */

  /* Warning Colors */
  --ion-color-warning: #0000ff; /* Azul */
  --ion-color-warning-rgb: 0, 0, 255;
  --ion-color-warning-contrast: #ffffff; /* Blanco */
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #0000cc; /* Azul oscuro */
  --ion-color-warning-tint: #0000ff; /* Azul claro */

  /* Danger Colors */
  --ion-color-danger: #ff0000; /* Rojo */
  --ion-color-danger-rgb: 255, 0, 0;
  --ion-color-danger-contrast: #ffffff; /* Blanco */
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cc0000; /* Rojo oscuro */
  --ion-color-danger-tint: #ff3333; /* Rojo claro */

  /* Dark Colors */
  --ion-color-dark: #000000; /* Negro */
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff; /* Blanco */
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000; /* Negro oscuro */
  --ion-color-dark-tint: #333333; /* Negro claro */

  /* Medium Colors */
  --ion-color-medium: #808080; /* Gris */
  --ion-color-medium-rgb: 128, 128, 128;
  --ion-color-medium-contrast: #ffffff; /* Blanco */
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #666666; /* Gris oscuro */
  --ion-color-medium-tint: #999999; /* Gris claro */

  /* Light Colors */
  --ion-color-light: #ffffff; /* Blanco */
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000; /* Negro */
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #cccccc; /* Blanco oscuro */
  --ion-color-light-tint: #e6e6e6; /* Blanco claro */
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

   body {
    --ion-color-primary: #ffff00; /* Amarillo */
    --ion-color-primary-rgb: 255, 255, 0;
    --ion-color-primary-contrast: #0000ff; /* Azul */
    --ion-color-primary-contrast-rgb: 0, 0, 255;
    --ion-color-primary-shade: #ffcc00; /* Amarillo oscuro */
    --ion-color-primary-tint: #ffea00; /* Amarillo claro */

    --ion-color-secondary: #0000ff; /* Azul */
    --ion-color-secondary-rgb: 0, 0, 255;
    --ion-color-secondary-contrast: #ffffff; /* Blanco */
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0000cc; /* Azul oscuro */
    --ion-color-secondary-tint: #0000ff; /* Azul claro */

    --ion-color-tertiary: #ffffff; /* Blanco */
    --ion-color-tertiary-rgb: 255, 255, 255;
    --ion-color-tertiary-contrast: #000000; /* Negro */
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #cccccc; /* Blanco oscuro */
    --ion-color-tertiary-tint: #e6e6e6; /* Blanco claro */

    --ion-color-success: #ffff00; /* Amarillo */
    --ion-color-success-rgb: 255, 255, 0;
    --ion-color-success-contrast: #0000ff; /* Azul */
    --ion-color-success-contrast-rgb: 0, 0, 255;
    --ion-color-success-shade: #ffcc00; /* Amarillo oscuro */
    --ion-color-success-tint: #ffea00; /* Amarillo claro */

    --ion-color-warning: #0000ff; /* Azul */
    --ion-color-warning-rgb: 0, 0, 255;
    --ion-color-warning-contrast: #ffffff; /* Blanco */
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #0000cc; /* Azul oscuro */
    --ion-color-warning-tint: #0000ff; /* Azul claro */

    --ion-color-danger: #ff0000; /* Rojo */
    --ion-color-danger-rgb: 255, 0, 0;
    --ion-color-danger-contrast: #ffffff; /* Blanco */
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cc0000; /* Rojo oscuro */
    --ion-color-danger-tint: #ff3333; /* Rojo claro */

    --ion-color-dark: #000000; /* Negro */
    --ion-color-dark-rgb: 0, 0, 0;
    --ion-color-dark-contrast: #ffffff; /* Blanco */
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #000000; /* Negro oscuro */
    --ion-color-dark-tint: #333333; /* Negro claro */

    --ion-color-medium: #808080; /* Gris */
    --ion-color-medium-rgb: 128, 128, 128;
    --ion-color-medium-contrast: #ffffff; /* Blanco */
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #666666; /* Gris oscuro */
    --ion-color-medium-tint: #999999; /* Gris claro */

    --ion-color-light: #ffffff; /* Blanco */
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000; /* Negro */
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #cccccc; /* Blanco oscuro */
    --ion-color-light-tint: #e6e6e6; /* Blanco claro */
  }



  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

   .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
  
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
  
    --ion-item-background: #000000;
  
    --ion-card-background: #1c1c1d;
  }
  
  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }
  
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
  
   .md body {
    --ion-background-color: #faf7f7;
    --ion-background-color-rgb: 18, 18, 18;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
  
    --ion-border-color: #222222;
  
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
  
    --ion-item-background: #1e1e1e;
  
    --ion-toolbar-background: #1f1f1f;
  
    --ion-tab-bar-background: #1f1f1f;
  
    --ion-card-background: #1e1e1e;
  }
}
