a.cuadro-con-fondo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #002138; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
/* Cambiar el color de fondo al pasar el mouse sobre el enlace */
    a.cuadro-con-fondo:hover {
    background-color: #fff;
    color: #002138;
    }

.texto-incorrecto {
font-size: 40px;
color: #002138;
}

.mensaje {
    font-size: 15px;
}

.imagen{
  position: absolute;
  left: 0%;
  top: 18%;
  pointer-events: none;
  }
