<ion-content [fullscreen]="true">

  <ion-title class="ion-padding-top ion-text-center">
    <img src="assets/img/logo.jpg" alt="">
  </ion-title>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title class="texto-incorrecto ion-text-center">INCORRECTO</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-center mensaje">Lo sentimos, pero los datos ingresados no son correctos</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-button-container">
    <div class="ion-text-center">
      <a class="cuadro-con-fondo" routerLink="/ingreso">Iniciar Sesion</a>
    </div>
  </div>
  
</ion-content>

<img src="assets/img/incorrecto.png" alt="" class="imagen">