<ion-content>
  
  <!-- 
    Se establece un título que este separado de <ion-content>
    
  -->
  <ion-title class="ion-padding-top ion-text-center">
    <img src="assets/img/logo.jpg" alt="">
  </ion-title>
  
  <!--
    Se genera una división donde estará el contenido del login,
    
  -->
  <div class="ion-padding-vertical">
    
    <!-- Se establece un card que contendrá un título y un contenido -->
    <ion-card class="ion-text-center ion-padding-vertical">

      <!-- Título del card -->
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>¡Bienvenido!</h2>
        </ion-label>
      </ion-card-title>

      <!-- Formulario de login -->
      <form>
        <!-- Contenido del card -->
        <ion-card-content>
          
          <!-- Item de correo -->
          <ion-item>
            <!-- Usamos ngModel para indicarle al input que se ligará con la propiedad "usuario.correo" -->
            <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>

          <!-- Se debe usar (click) para enlazar con el método de la clase en typescript -->
          <ion-button shape="block" (click)="recuperar()">Recuperar contraseña</ion-button> 

        </ion-card-content>
      </form>
    </ion-card>
  </div>
  
</ion-content>