<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navegarAInicio()">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mi Clase
    </ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido de la página "Mi Clase" -->
  <div class="ion-padding">
    <h2>Datos:</h2>
    <!-- Tabla para mostrar los datos -->
    <table class="datos-table">
      <tr>
        <td><strong>Sede:</strong></td>
        <td>{{ sede }}</td>
      </tr>
      <tr>
        <td><strong>ID Asignatura:</strong></td>
        <td>{{ idAsignatura }}</td>
      </tr>
      <tr>
        <td><strong>Sección:</strong></td>
        <td>{{ seccion }}</td>
      </tr>
      <tr>
        <td><strong>Nombre de la Asignatura:</strong></td>
        <td>{{ nombreAsignatura }}</td>
      </tr>
      <tr>
        <td><strong>Nombre del Profesor:</strong></td>
        <td>{{ nombreProfesor }}</td>
      </tr>
      <tr>
        <td><strong>Día:</strong></td>
        <td>{{ dia }}</td>
      </tr>
      <tr>
        <td><strong>Bloque Inicio:</strong></td>
        <td>{{ bloqueInicio }}</td>
      </tr>
      <tr>
        <td><strong>Bloque Término:</strong></td>
        <td>{{ bloqueTermino }}</td>
      </tr>
      <tr>
        <td><strong>Hora Inicio:</strong></td>
        <td>{{ horaInicio }}</td>
      </tr>
      <tr>
        <td><strong>Hora Fin:</strong></td>
        <td>{{ horaFin }}</td>
      </tr>
    </table>

    <!-- Agregar un elemento para mostrar los datos del código QR -->
    <div *ngIf="datosCodigoQR">
      <h2>Datos del Código QR:</h2>
      <p>{{ datosCodigoQR }}</p>
    </div>
  </div>
</ion-content>