/* Estilizar el ion-title */
ion-title {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  color: #002138;
}

/* Estilizar el ion-card */
ion-card {
  text-align: center;
  padding: 20px;
  background-color: rgba(65, 95, 230, 0);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 33, 56, 0.9);
}

/* Estilizar el título del card */
ion-card-header {
  background-color: transparent;
  color: #002138;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
}

ion-card-title {
  font-size: 40px;
  font-weight: bold;
}

/* Estilizar los ion-item */
ion-item {
  margin-bottom: 25px;
  border-radius: 8px;
  background-color: transparent;
}

ion-label {
  font-weight: bold;
  color: #002138;
}

ion-input {
  
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  
  
  background-color: transparent;
}

/* Estilizar el botón de inicio de sesión */
ion-button {
  width: 100%;
  background-color: #F8B31C;
  color: #070505;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;

  
}

/* Estilizar el enlace para recuperar contraseña */
a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Estilizar el fondo del ion-content */
ion-content {
  background-color: #002138;
}

a.cuadro-con-fondo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: #002138; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

/* Cambiar el color de fondo al pasar el mouse sobre el enlace */
a.cuadro-con-fondo:hover {
  background-color: #fff;
  color: #002138;
}

