<ion-content class="ion-padding">

  <!-- Título con logo centrado -->
  <div class="ion-text-center">
    <ion-title>
      <img src="assets/img/logo.jpg" alt="Logo">
      <h2 style="font-size: 24px; color: #050505;">Registro Asistencia DuocUc</h2>

    </ion-title>
  </div>

  <!-- Contenedor del formulario de inicio de sesión -->
  <div class="ion-padding-vertical ion-text-center">

    <!-- Card para el formulario -->
    <ion-card>

      <!-- Título del card -->
      <ion-card-header>
        <ion-label class="ion-text-center">
          <h2 style="font-size: 24px; color: #ffffff;"></h2>
        </ion-label>
      </ion-card-header>

      <!-- Formulario de inicio de sesión -->
      <form>

        <!-- Campos del formulario -->
        <ion-card-content>

          <!-- Campo de correo electrónico -->
          <ion-item lines="none">
            <ion-label position="floating">Correo</ion-label>
            <ion-input name="correo" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>

          <!-- Campo de contraseña -->
          <ion-item lines="none">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>

          <!-- Botón de inicio de sesión -->
          <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
          
        </ion-card-content>
      </form>

      <!-- Enlace para recuperar contraseña -->
      
      <div class="ion-button-container">
        <div class="ion-text-center">
          <a class="cuadro-con-fondo" routerLink="/correo">Recuperar contraseña</a>
        </div>


      </div>
      
    </ion-card>
  </div>

</ion-content>